.split {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 5;
  top: 10%;
}

.right {
  right: 20%;
}
table {
  border-collapse:collapse;
  margin: 1em 0;
}
table.full-width {
  width: 100%;
}
table, td, th {
  border: 1px solid black;
  padding: 5px;
}
table th {
  background: #f3f3f3;
}
.centered {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 320px;
  border-radius: 50%;
}
button {
  text-align: center;
  background-color: #ccd7cd;
  color: white;
  padding: 5px 15px;
  margin: 6px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}
.back {
  width: auto;
  padding: 8px 15px;
  background-color: #7b3f5f;
}
header {
  color: #7b3f5f;
  font-family:'Times New Roman', Times, serif;
}

.generateTestData {
  margin-top: 1em;
}

a.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}