header {font-family: Arial, sans-serif, Times, serif, Helvetica, sans-serif;}
body {font-family: Arial, sans-serif, Times, serif, Helvetica, sans-serif;}
.page-content {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: auto;
  margin: auto;
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 15px;
  background: #fff8f9;
  border-radius: 15px ;
}
table {
  text-align: center;
  border-collapse:collapse;
  margin: 1em 0;
}
table.full-width {
  width: 100%;
}
table, td, th {
  border: 1px solid white;
  padding: 5px;
}
table th {
  background: #f3f3f3;
}
.addM {
  background-color: rgb(40, 148, 36);
}
.addC {
  background-color: rgb(40, 148, 36);
}
.deleteC {
  background-color: rgb(189, 42, 42);
}
.deleteM {
  background-color: rgb(189, 42, 42);
}
.centered img {
  width: 320px;
  border-radius: 50%;
}
.button-container {
  text-align: center;
  color: black;
  padding: 1px 15px;
  margin: 6px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
button {
  text-align: center;
  background-color: #ccd7cd;
  color: white;
  padding: 5px 15px;
  margin: 6px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
button:hover {
  opacity: 0.8;
}
.back {
  width: auto;
  padding: 8px 15px;
  background-color: #7b3f5f;
}
header {
  color: #7b3f5f;
  font-family:'arial', Times, serif;
}

.generateTestData {
  margin-top: 1em;
}

a.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}