header {font-family: Arial, sans-serif, Times, serif, Helvetica, sans-serif;}
body {font-family: Arial, sans-serif, Times, serif, Helvetica, sans-serif;}

h1{
  text-align: center;
  color: #7b3f5f;
  padding: 20px;
}
h2{
  text-align: center;
  color: #7b3f5f;
}
h3{
  text-align: center;
  color: #090909;
}

button {
  text-align: center;
  background-color: #b899aa;
  color: white;
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
table {
  border-collapse:collapse;
  margin: 1em 0;
}
table.full-width {
  width: 100%;
}
table, td, th {
  border: 1px solid black;
  padding: 5px;
}
table th {
  background: #f3f3f3;
}
button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo {
  width: 50%;
  border-radius: 50%;
}

.container {
  text-align: center;
  width: 500px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 15px;
  background: #fff9fa;
  border-radius: 15px ;
}
